PLUGIN REQUIREMENTS AND POSSIBILITIES

- The calendar is only weekly. You can customize the start/end dates of the view and chose between 4 'agenda' views (1 day, 3 days next, work week, full week).
- The calendar is granted at web-application level (no specific ACL for every user: the meaning is that every customer or registered user of your website will be 
  provided with the opportunity of seeing your availability or booking events directly depending on how you configure it as an admin).
- The calendar is provided in two versions (with specific shortcodes): 
	1) READONLY (it shows the list of all the booked/unavailable events without the possibility of editing)
	2) EDITABLE (you can configure what your customers can do: adding/updating/deleting events, receiving notifications)
- You can set the number of bookable events per user (defaults to 1): 
	1) fixed value
	2) value retrieved from a db field


